<h1><%= @word_type.capitalize %></h1>
<a href="/words">Go Back</a>


<% if @all_rows.any? %>
  <div class="show-words-container">
    <% @all_rows.each do |word| %>
      <div>
        <h2><%=word[0] %></h2>
        <p><%=word %></p>
      </div>
    <% end %>
  </div>
<% end %>